body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #040b33;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
}
nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav ul li a:hover::after {
    width: 100%;
}
.container {
    padding: 2em;
}

.about, .projects, .contact {
    margin-bottom: 2em;
}

.project {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

footer {
    background: #040b33;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}